@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

button {
  padding: 5px 15px;
  transition: 0.5s;
  border-radius: 5px;
  color: dimgray;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
  background: rgba(0,0,0,0.3);
}
